

.logo img{
    width: 15%;
    margin-left: 10%;
}

.titulo{
    font-size: 5rem;
}

.Descri{
    font-size: 2rem;
}

.titulo-servicios{
    font-size: 4rem;
    margin: 20% 0 0 40%;

}

.Servicios{
    width: 90%;
    margin: 5% auto 0;

}

